<b>PROYECTO INTEGRADOR HENRY <b>

Agustin Agulleiro

In [108]:
import pandas as pd
import numpy as np
from collections import Counter

In [109]:
#IMPORTO EL CSV
amazon = pd.read_csv("plataformas/amazon_prime_titles.csv")
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [110]:
#CREO UNA COLUMNA "ID" con la primera inicial de la plataforma y lo concateno con su "show_id"
amazon["id"] = "a" + amazon["show_id"]

In [111]:
#DROPEAMOS LA COLUMNA "SHOW_ID"
amazon = amazon.drop(columns="show_id")

In [112]:
#ME FIJO LAS COLUMNAS QUE TIENE, PARA LUEGO REINDEXARLAS
amazon.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description', 'id'],
      dtype='object')

In [113]:
#CAMBIO LAS COLUMNAS DE LUGAR , PRA QUE "ID" ESTE PRIMERO
amazon = amazon.reindex(columns=["id",'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'])

In [114]:
#MIRAMOS LA CANTIDAD DE NULOS POR COLUMNA
amazon.isnull().sum()

id                 0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [115]:
#REMPLAZAMOS LOS NULOS DE RATING POR LA LETRA "G"
amazon["rating"] = amazon["rating"].fillna("G")

In [116]:
# CONVERTIR LA COLUMNA DE STRING A FORMATO DE FECHA
amazon['date_added'] = pd.to_datetime(amazon["date_added"])
# CONVERTIR EL FORMATO DE FECHA A "AAAA-MM-DD
amazon['date_added'] = amazon['date_added'].dt.strftime('%Y-%m-%d')

In [117]:
# CONVERTIMOS TODAS LAS LETRAS DEL DATAFRAME A MINÚSCULAS
amazon = amazon.applymap(lambda s: s.lower() if type(s) == str else s)

In [118]:
# DIVIDIR LA COLUMNA "DURATION" EN UN NÚMERO Y UN STRING Y CREAR LAS COLUMNAS CON SUS RESPECTIVAS VARIABLES RESULTADO
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', expand=True)
amazon.drop(columns=["duration"],inplace= True)

In [119]:
#RELLENAMOS LOS NULOS COMO 0
amazon["duration_int"].fillna(0,inplace = True)
#CAMBIAMOS EL TIPO DE DATO A ENTERO EN LA TABLA DURATION_INT
amazon['duration_int'] = amazon['duration_int'].astype(int)

In [120]:
#Cambiamos el formato a DATETIME
amazon["date_added"] = pd.to_datetime(amazon["date_added"])

<b>APARTIR DE ACA REALIZAMOS EXACTAMENTE LOS MISMOS PASOS EN LAS DEMAS PLATAFORMAS <b>

In [121]:
# APLICAMOS LO REALIZADO ANTERIORMENTE CON LOS DEMAS CSV
disney = pd.read_csv("plataformas/disney_plus_titles.csv")
hulu = pd.read_csv("plataformas/hulu_titles.csv")
netflix = pd.read_csv("plataformas/netflix_titles.csv")
def transformacion (plataforma,letra):
    plataforma["id"] = letra + plataforma["show_id"]
    plataforma = plataforma.drop(columns="show_id")
    plataforma = plataforma.reindex(columns=["id",'type', 'title', 'director', 'cast', 'country', 'date_added',
                                    'release_year', 'rating', 'duration', 'listed_in', 'description'])
    plataforma["rating"] = plataforma["rating"].fillna("G")
    plataforma['date_added'] = pd.to_datetime(plataforma['date_added'])
    plataforma['date_added'] = plataforma['date_added'].dt.strftime('%Y-%m-%d')
    plataforma = plataforma.applymap(lambda s: s.lower() if type(s) == str else s)
    plataforma[['duration_int', 'duration_type']] = plataforma['duration'].str.split(' ', expand=True)
    plataforma.drop(columns=["duration"],inplace= True)
    plataforma["duration_int"].fillna(0,inplace = True)
    plataforma['duration_int'] = plataforma['duration_int'].astype(int)
    return plataforma

In [122]:
#APLICAMOS EL MISMO PROCESO PARA LOS DEMAS CSV
disney = transformacion(disney, "d")
hulu = transformacion(hulu, "h")
netflix = transformacion(netflix, "n")

In [123]:
# CONCATENAMOS TODOS LOS DATAFRAME EN UNO SOLO 
plataformas = pd.concat([amazon,disney,hulu,netflix])

In [124]:
# CONVIERTO LA COLUMNA "date_added" a DATETIME
plataformas["date_added"] = pd.to_datetime(plataformas["date_added"])

<b>TRANSFORMAMOS LOS CSV DE RATING<B>

In [125]:
#IMPORTAMOS TODOS LOS CSV EN UNA VARIABLE DIFERENTE
rating1 = pd.read_csv("ratings/1.csv")
rating2 = pd.read_csv("ratings/2.csv")
rating3 = pd.read_csv("ratings/3.csv")
rating4 = pd.read_csv("ratings/4.csv")
rating5 = pd.read_csv("ratings/5.csv")
rating6 = pd.read_csv("ratings/6.csv")
rating7 = pd.read_csv("ratings/7.csv")
rating8 = pd.read_csv("ratings/8.csv")

In [126]:
#UNIMOS TODOS LAS VARIABLES EN UNA SOLA CON UN CONCAT(CONCATENAR)
df_rating = pd.concat([rating1,rating2,rating3,rating4,rating5,rating6,rating7,rating8])

In [127]:
#AGRUPAMOS TODAS LAS VARIABLES REPETIDAS EN "MOVIEID".
#PARA QUE NO HAYA REPETICION DE INFORMACION, SACAMOS UN PROMEDIO Y LO RENDONDEAMOS
df_agrupado = round(df_rating.groupby('movieId', as_index=False)['rating'].mean())

In [128]:
#TRANSFORMAMOS LA COLUMNA RATING A TIPO ENTERO (ESTABA EN FLOAT)
df_agrupado["rating"] = df_agrupado["rating"].astype(int)

In [129]:
plataformas = pd.merge(plataformas , df_agrupado, left_on='id',right_on='movieId')

In [130]:
plataformas = plataformas.drop(columns="movieId")

In [131]:
# GUARDAMOS EL DATAFRAME EN UN CSV
plataformas.to_csv("plataformas.csv",index=False)

<b>CREO LAS FUNCIONES PARA IMPLEMENTARLAS EN LA API <b>

In [132]:
def get_max_duration(year: int, platform: str, duration_type: str):
    if not isinstance(year, int):
        raise ValueError("El valor de 'year' debe ser un número entero")
    if not isinstance(platform, str):
        raise ValueError("El valor de 'platform' debe ser una cadena de caracteres")
    if not isinstance(duration_type, str):
        raise ValueError("El valor de 'duration_type' debe ser una cadena de caracteres")
    df = pd.read_csv("plataformas.csv")
    if platform[0] in ["h", "n", "a", "d", "H", "N", "A", "D"]:
        platform = platform.lower()[0]
        duration_type = duration_type.lower()
        if duration_type == "min":
            resultado = df[(df['release_year']==year) & (df['id'].str.startswith(platform)) & (df['duration_type']== duration_type) & (df["type"] == "movie")]
            idx = resultado['duration_int'].idxmax()
            return {resultado.loc[idx, 'title']}
        else:
            return {"Para saber cual fue la pelicula maxima trata de poner en duration_type min"}
    else: 
        return {"Intente usar una plataforma existente"}

In [133]:
def get_max_duration(year: int, platform: str, duration_type: str):
    if not isinstance(year, int):
        raise ValueError("El valor de 'year' debe ser un número entero")
    if not isinstance(platform, str):
        raise ValueError("El valor de 'platform' debe ser una cadena de caracteres")
    if not isinstance(duration_type, str):
        raise ValueError("El valor de 'duration_type' debe ser una cadena de caracteres")
    df = pd.read_csv("plataformas.csv")
    if platform[0] in ["h", "n", "a", "d", "H", "N", "A", "D"]:
        platform = platform.lower()[0]
        duration_type = duration_type.lower()
        if duration_type == "min":
            resultado = df[(df['release_year']==year) & (df['id'].str.startswith(platform)) & (df['duration_type']== duration_type) & (df["type"] == "movie")]
            idx = resultado['duration_int'].idxmax()
            respuesta = resultado.loc[idx, 'title']
            return {'pelicula': respuesta}

        else:
            return {"Para saber cual fue la pelicula maxima trata de poner en duration_type min"}
    else: 
        return {"Intente usar una plataforma existente"}

In [134]:
get_max_duration(2020,"netflix","min")

{'pelicula': 'unbreakable kimmy schmidt: kimmy vs. the reverend'}

In [135]:
def get_score_count(plataforma: str, scored: int, anio: int):
    df = pd.read_csv("plataformas.csv")
    if plataforma[0] in ["h", "n", "a", "d", "H", "N", "A", "D"]:
        plataforma = plataforma.lower()[0]
        respuesta = df[(df['id'].str.startswith(plataforma)) & (df["rating_y"]> scored) & (df["release_year"]== anio) & (df["type"]== "movie")]
        cantidad = respuesta.shape[0]
        return {cantidad}
    else: 
        return {"Intente usar una plataforma existente"}

In [136]:
get_score_count("disney",3,2018)

{25}

In [137]:
def get_count_platform(platform: str):
    df = pd.read_csv("plataformas.csv")
    if platform in ["amazon", "netflix", "hulu", "disney"]:
        platform = platform.lower()[0]
        respuesta = df[(df["id"].str.startswith(platform)) & (df["type"]== "movie")]
        cantidad = respuesta.shape[0]
        return {cantidad}
    else: 
        return {"Intente usar una plataforma existente"}

In [138]:
get_count_platform("hulu")

{1484}

In [139]:
def get_actor(platform: str, year: int):
    if not isinstance(platform, str):
        raise ValueError("El valor de 'platform' debe ser de caracteres")
    if not isinstance(year, int):
        raise ValueError("El valor de 'year' debe ser un entero")
    df = pd.read_csv("plataformas.csv")
    if platform[0] in ["h", "n", "a", "d", "H", "N", "A", "D"]:
        platform1 = platform
        platform = platform.lower()[0]
        df = df[(df['id'].str.startswith(platform)) & (df['release_year'] == year)]
        actores_por_fila = df['cast'].dropna().apply(lambda x: [i.strip() for i in x.split(',') if i.strip() and not i.strip().isdigit()])
        contador_actores = Counter()
        for actores in actores_por_fila:
            contador_actores.update(actores)
        actor_mas_repetido = contador_actores.most_common(1)[0][0]
        cantidad_actor_mas_repetido = contador_actores[actor_mas_repetido]
        return f"El actor que aparece más veces es {actor_mas_repetido}, con {cantidad_actor_mas_repetido} apariciones, en el año {year} de la plataforma {platform1}"
    else:
        return f"Los valores ingresados son incorrectos intente nuevamente, recuerde que las plataformas son Netflix, Amazon, Disney o Hulu."

In [140]:
get_actor("disney",2020)

'El actor que aparece más veces es daveed diggs, con 3 apariciones, en el año 2020 de la plataforma disney'

In [141]:
def prod_per_county(tipo: str,pais: str,anio: int):
    if not isinstance(tipo, str):
        raise ValueError("El valor de 'tipo' debe ser de caracteres")
    if not isinstance(pais, str):
        raise ValueError("El valor de 'platform' debe ser una cadena de caracteres")
    if not isinstance(anio, int):
        raise ValueError("El valor de 'duration_type' debe ser un entero")
    df = pd.read_csv("plataformas.csv")
    tipo = tipo.lower()
    pais = pais.lower()
    if tipo == "tv show" or tipo == "movie":
        if pais in df["country"].unique():
            respuesta = df[(df["type"]== tipo) & (df["country"]== pais) & (df["release_year"]== anio)].shape[0]
            return {'pais': pais,
                    'anio': anio,
                    'peliculas': respuesta}
        else:
            return {f"Intenta poner un pais correcto"}
    else:
        return {f"Intenta poner tv show o movie en lugar de {tipo}"}

In [142]:
prod_per_county("tv show","spain",2018)

{'pais': 'spain', 'anio': 2018, 'peliculas': 9}

In [143]:
def get_contents(rating: str):
    df = pd.read_csv("plataformas.csv")
    res = df[df["rating_x"]== rating]
    respuesta = res.shape[0]
    return {respuesta}

In [144]:
get_contents("g")

{1269}